/* 引入字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import "reset.css";
@import "variables.css";
@import "base.css";
@import "utilities.css";

/* 元件 */
.breadcrumb-item {
  display: flex;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: "/";
  padding: 0 12px;
  color: var(--neutral-300);
  font-weight: 700;
}

.breadcrumb-link {
  color: var(--neutral-600);
  text-decoration: none;
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
}